/*////////////////////////
    1. Global Styles
////////////////////////*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    /*background-color: chocolate;*/

}

/*///////////// 2. nav ///////////////*/


.aside{
    display: flex;
    flex-basis: 10%;
    box-sizing: border-box;
    background-color: turquoise;
    flex-shrink: 0;
    flex-grow: 1;
    /*height: 370vh;*/
    /*width: 150px;*/
}
.aside-nav {
    display: flex;
    flex-basis: 20%;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 10px;

}
.aside--ul {
    display: flex;
    flex-basis: 120%;

}

.aside---li {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;


}


/*///////////// 3. Header ////////////*/
header {
    display: flex;
    flex-basis: 57.6%;
    flex-shrink: 1;
    flex-grow: 1;
}


/*///////////// 4. Main  /////////////*/
main {
    display: flex;
    flex-basis: 180vh;

}


/*//////////// 5. Footer /////////////*/
footer {
    flex-basis: 10%;
}




