/*////////////////////////
    1. Global Styles
////////////////////////*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    /*background-color: skyblue;*/
    font-family: Arial sans-serif;
}


/*///////////// 2. nav ///////////////*/

aside {
    display: flex;
    flex-basis: 250px;
    /*flex-flow: column wrap;*/
    width: 249.9px;
    background: lightgrey;
    position: fixed;
    /* /*   left: 0; */
    top: 0;
    bottom: 0;
}

.ul {
    display:flex;
    flex-flow: column wrap;
    font-size: 18px;
    gap:50px;

}

.ul-button {
    display: flex;
    justify-content: center;
    /*align-items: flex-end;*/
    /*   gap: 10px 20px; */
}

img {
    max-height: 15px;
}

/*.button {*/
/*    display: flex;*/
/*    align-items: flex-end;*/
/*}*/

/*///////////// 3. Header ////////////*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #4CAF50;*/
    /*color: white;*/
    height: 300px;
}


.header {
    margin-left: 250px;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*///////////// 4. Main  /////////////*/
main {
    flex: 1;
    background: #909
}
p.visible{
    overflow: visible;
}


/*//////////// 5. Footer /////////////*/

footer {
    display: flex;
    justify-content: center;
    font-size: 8px;
    text-align: center;
    background: #383838;
    color: white;
    padding: 10px;
}


